!.gitignore
# Dependencies
/vendor/

# IDE files
.idea/
.vscode/
*.sublime-*
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

*.log

# Custom
\#src/
/data/char_frequency.php
debug_*
debug/
/.phpunit.result.cache
/data/backup
/unicode
/tools
/tests